.lower-boxes{
    display: flex;
    width: 100%;
    margin-top: 2em;
}

.lower-boxes button{
    border-radius: 15px;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0px rgba(191,191,191,1);
}

.blog {
    width: 100%;
    margin-right: 1em;
}


.reminder {
    width: 100%;
    margin-left: 1em;
}

