
.reminder {
    width: 55%;
}

.reminder input {
    background-color: #e0e0e0;
    outline: none;
    padding: 1em;
    border-radius: 5px;
    width: 80%;
    margin: 15px 0 15px 0;
}

.reminder ul {
    display: flex;
}

.reminder li {
    list-style: none;
    display: flex;
}

#closeLembrete {
    width: 100px;
    height: 2em;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    background-color: #0063AF;
    color:white;
    font-size: 15px;
}