@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

/* CSS Pages */
@import url('header.css');
@import url('menu.css');
@import url('top-box.css');
@import url('bottom-box.css');
@import url('icon-box.css');
@import url('footer.css');
@import url('triagem.css');
@import url('lembretes.css');


/* Padronizando estilos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'DM Sans', sans-serif;
}

main {
    display: flex;
}

/* Dashboard */

.dashboard {
    padding: 2em;
    width: 100%;
}


.box {
    border: 1px solid rgb(120, 120, 120);
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0px rgba(191, 191, 191, 1);
}

/* Modal */

.dialog-content {
    border-radius: 15px;
    border: 2px solid #0063AF;
    color: #0063AF;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0px rgba(191, 191, 191, 1);
    border-radius: 15px;
    margin:20px auto 0;
    padding: 40px;
    background-color: #f2f2f2;
    width: 20em;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.3);
}


.team-box table {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center
}

.team-box {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
}

.team-box tr {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    justify-content: space-between;
}

@media(max-width:790px) {
    .team-box tr{
        flex-direction: column;
    }
}

@media(max-width: 310px) {

    .team-box {
        padding: 10px;
        margin-top: 3em;
    }
}
