.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #0063AF;
    width: max-content;
}

.menu button {
    padding: 1.5em;
    height: 5em;
    width: 15em;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    font-size: 0.9em;
    font-weight: 500;
    background-color: #0063AF;
    color: white;
    letter-spacing: 1.1px;
    cursor: pointer;
}

.menu button:hover {
    background-color: rgb(0, 82, 175);
}