.top-boxes {
    display: flex;
    width: 100%
}

.profile {
    width: 60%;
    height: 10em;
    margin-right: 1em;
    border-radius: 15px;
    border: 5px solid #0063AF;
    color: #0063AF;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0px rgba(191, 191, 191, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.username {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.user-icon {
    width: 50px;
    height: 50px;
    background-color: #0063AF;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0.4em;
}

.profile ul {
    list-style: none;
}

.emergency {
    width: 40%;
    margin-left: 1em;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0px rgba(191, 191, 191, 1);
    background-color: #F17E01;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.emergency p {
    font-weight: 400;
}

@media (max-width: 850px) {
    .top-boxes {
        flex-direction: column;
    }
    .profile {
        width: 98%;
        height: 9em;
    }

    .emergency {
        width: 100%;
        margin: 1em 0 0 0;
        font-size: 1.4em;
        padding: 1em;
    }
    
    .emergency p {
        font-weight: 400;
        font-size: 15px;
    }
}

@media (max-width: 620px) {
    .profile {
        margin-top: 3em;
    }
}