
.triagem p {
    font-size: 1.4em;
    font-weight: 600;
}

#closeTriagem {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    cursor: pointer;
}

textarea {
    border-radius: 10px;
    padding: 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

textarea:focus{
    outline: 1px solid rgb(140, 163, 194)
}

@media(max-width:800px){
    .dialog-content {
        max-width: 60%;
    }


}